<footer style="    background: #2d2f44;">
    <div class="container py-5">
        <div class="row">
            <div class="col-3">
                <h6 class="text-white">CONNECT</h6>
                <div class="d-flex ">
                    <a href="#" class="text-white-50 my-2 text-decoration-none d-flex"><span class="me-2 d-flex align-items-center text-white border-main justify-content-center rounded-circle p-2" style="width: 30px; height: 30px ;"><i class="fa-brands fa-facebook-f " style="font-size:16px;"></i></span>  @tourandtravels</a>
                </div>
                <div class="d-flex "> 
                    <a href="#" class="text-white-50 my-2 text-decoration-none d-flex"><span class="me-2 d-flex align-items-center text-white border-main justify-content-center rounded-circle p-2" style="width: 30px; height: 30px ;"><i class="fa-brands fa-x-twitter " style="font-size:16px;"></i></span>  @tourandtravels</a>
                </div>
                <div class="d-flex "> 
                    <a href="#" class="text-white-50 my-2 text-decoration-none d-flex"><span class="me-2 d-flex align-items-center text-white border-main justify-content-center rounded-circle p-2" style="width: 30px; height: 30px ;"><i class="fa-brands fa-instagram " style="font-size:16px;"></i></span>  @tourandtravels</a>
                </div>
                <div class="d-flex "> 
                    <a href="#" class="text-white-50 my-2 text-decoration-none d-flex"><span class="me-2 d-flex align-items-center text-white border-main justify-content-center rounded-circle p-2" style="width: 30px; height: 30px ;"><i class="fa-brands fa-youtube " style="font-size:16px;"></i></span>  @tourandtravels</a>
                </div>
            </div>
            <div class="col-3">
                <h6 class="text-white">EXPOLRE </h6>
                <div class="d-flex flex-column ">
                <a href="#" class="my-2 text-decoration-none text-white-50">Destinations</a>
                <a href="#" class="my-2 text-decoration-none text-white-50">Packages</a>
                <a href="#" class="my-2 text-decoration-none text-white-50">Offers</a>
                <a href="#" class="my-2 text-decoration-none text-white-50">Tour Types</a>
                </div>
            </div>
            <div class="col-3">
                <h6 class="text-white">TOP DESTINATIONS</h6>
                <div class="d-flex flex-column ">
                    <a href="#" class="my-2 text-decoration-none text-white-50">Maleshia</a>
                <a href="#" class="my-2 text-decoration-none text-white-50">Japan</a>
                <a href="#" class="my-2 text-decoration-none text-white-50">New Zealand </a>
                <a href="#" class="my-2 text-decoration-none text-white-50">Thailand</a>
                </div>
                
            </div>
            <div class="col-3">
                <h6 class="text-white">NEWSLETTER</h6>
                <div class="tg-widgetcontent">
                    <div class="tg-description"><p class="text-white">Sign up for our mailing list to get latest updates and offers</p></div>
                    <form class="">
                        <div class="d-flex ">
                            <input type="email" name="email" class="w-100 px-2 py-2 text-dark bg-white border rounded-start rounded-end-0" placeholder="Your Email">
                            <button type="submit" class="gradiant border-0 px-3 rounded-end"><i class="fa-regular fa-envelope fa-xl"></i></button>
                        </div>
                    </form>
                    <span class="text-white-50 mt-1">We respect your privacy</span>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- js links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- swiper js -->
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
<!-- slide js -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<!-- flatepicker js -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script> -->
</body>
</html>