
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
h2,h1{
    font-family: "Raleway", sans-serif;
}
p{
    font-family: "Lato", sans-serif;

}
.gradiant{
    /* background: linear-gradient(45deg, #57F1E7 , #0CB2A7); */
    background:  #0CB2A7;
    color: white;
}
.gradiant-text{
    /* background: linear-gradient(45deg, #57F1E7 , #0CB2A7); */
    color:  #0CB2A7;
    /* color: white; */
}
.border-main{
    /* background: linear-gradient(45deg, #57F1E7 , #0CB2A7); */
    border: 1px solid #0CB2A7;
    /* color: white; */
}
.siteLogo{
    height: 100%;
    width: 250px;
}
.font_primary{
    font-size: 16px;
    line-height: 1.6;
}
.font_secondary{
    font-size: 18px;
}
.v_sm_text{
    font-size: 12px !important;
}
.font-bold{
    font-weight: 700;
}
/* slider main */
.thumbnail-slider .splide__slide {
    border-radius: 12px;
    overflow: hidden;
}

.thumbnail-slider .splide__slide.is-active {
    transform: scale(1.2);
    /* Adjust the scale factor as needed */
    transition: all .5s ease-in-out;
    filter: brightness(1);

}

.thumbnail-slider .splide__slide.is-active+.splide__slide {
    margin-left: 20px;
    transition: all .5s ease-in-out;
    /* Increase the gap */
}

.thumbnail-slider .splide__slide:not(.is-active)+.splide__slide {
    margin-left: 10px;
    transition: all .5s ease-in-out;
    /* Increase the gap */
}

.thumbnail-slider .splide__slide:not(.is-active) {
    transition: all .5s ease-in-out;
    transform: scale(1);
    /* opacity: .5; */
    filter: brightness(.5);
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 2px solid white !important;
}
.thumbnail-slider{
    bottom: 12%;left: 50%; transform: translateX(-50%);
}
/* vitenam slider */
.splide__arrow{
    top: 85% !important;
    transform: none !important;
    left: unset !important;
}
.splide__arrow--prev {
    right: 4em !important;
    left: unset;
}
.boxshadow::before{
    content: ' ';
    box-shadow: inset 4px 31px 85px 9px #00000078;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1.2);
    background: #0000002e;
}
.section_padding{
    padding: 4rem 0;
}
input:focus,select:focus,textarea:focus{
    outline: none;
    border: none;
}
/*  */
.overlay {
    background-color: #101F46;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .45;
}
.overlay.active {
    opacity: 0.45;
}
.hover {
    overflow: hidden;
  }
  /*Animate overlay and move it 'above'*/
  .hover .overlay {
    transform: translate3d(-100%, 0, 0);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  
  /* Mouse enter event */
  .hover.mouseenter.top .overlay {
    animation-name: slide--enter-top;
  }
  .hover.mouseenter.right .overlay {
    animation-name: slide--enter-right;
  }
  .hover.mouseenter.bottom .overlay {
    animation-name: slide--enter-bottom;
  }
  .hover.mouseenter.left .overlay {
    animation-name: slide--enter-left;
  }
  
  /* Mouse leave event */
  .hover.mouseleave.top .overlay {
    animation-name: slide--leave-top;
  }
  .hover.mouseleave.right .overlay {
    animation-name: slide--leave-right;
  }
  .hover.mouseleave.bottom .overlay {
    animation-name: slide--leave-bottom;
  }
  .hover.mouseleave.left .overlay {
    animation-name: slide--leave-left;
  }
  
  /* Sliding animations ! */
  @keyframes slide--enter-top {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: none; }
  }
  @keyframes slide--enter-right {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: none; }
  }
  @keyframes slide--enter-bottom {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: none; }
  }
  @keyframes slide--enter-left {
    0% { transform: translate3d(-100%, 0, 0); }
    100% { transform: none; }
  }
  @keyframes slide--leave-top {
    0% { transform: none; }
    100% { transform: translate3d(0, -100%, 0); }
  }
  @keyframes slide--leave-right {
    0% { transform: none; }
    100% { transform: translate3d(100%, 0, 0); }
  }
  @keyframes slide--leave-bottom {
    0% { transform: none; }
    100% { transform: translate3d(0, 100%, 0); }
  }
  @keyframes slide--leave-left {
    0% { transform: none; }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  /* z-index */
  .z-1{
    z-index: 1;
  }
  .z-2{
    z-index: 2;
  }
  .z-5{
    z-index: 5;
  }
  .z-n1{
    z-index: -1;
  }
  .line:before {
    content: "|";
    position: absolute;
    left: 0;
}
/* testimonial */
.test_bg-img{
  background: linear-gradient(45deg, #0000006b, #0000006b), url(http://localhost:3000/img/kal-visuals-aK4iPNYipnU-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 500px;
/* fillter:brightness(.5); */
}
/* navbar */
.linksBox:after {
  content: "";
  width: 2px;
  height: 100%;
  background: #eee;
  position: absolute;
}
.linksBox {
  position: relative;
}